/* Resetear estilos por defecto del navegador */
body, h1, ul, li, a{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #8D775F;
    text-align: center;
}


/* Estilos para la lista de planes */
#listaTextos {
    list-style: none;
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: #D5BF86;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#listaTextos li {
    background-color: #F1F0CC;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
}

/* Resto del código CSS se mantiene igual */
